.board-content--type1,
.board-content--type2 {
    position: relative;
}

.board-content--type1 h4,
.board-content--type2 h4 {
    color: #2c94c4;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px;
}

.board-content--type1 .more,
.board-content--type2 .more {
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("../../img/icon.png") no-repeat -150px -90px;
}

.board-content--type1 ul li,
.board-content--type2 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    background: url("../../img/dot.gif") no-repeat 0 8px;
    padding-left: 8px;
    font-size: 14px;    
}

.board-content--type2 ul li a {
    width: 65%;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-content--type2 ul li span {
    width: 30%;
    text-align: right;
    float: right;
}