
.board-container {
    overflow: hidden;
}

.board-col {
    width: 210px;
    float: left;
    padding-right: 30px;
    margin-top: 25px;
    margin-left: 20px;
    border-right: 1px solid #d0d0d0;
}

.board-col:nth-child(4){
    clear: both;
}

.board-header {
    position: relative;
    padding-left: 70px;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
}

.board-header--icon {
    width: 60px;
    height: 60px;
    background: url("../img/icon.png") no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.board-header--icon--title {
    font-size: 16px;
    color: #2c94c4;
    font-weight: 600;
}

.board-header--desc {
    margin-top: 10px;
    font-size: 14px;
}

.board--icon1 {
    background-position: 0px -240px;
}
.board--icon2 {
    background-position: 0px -300px;
}
.board--icon3 {
    background-position: 0px -360px;
}
.board--icon4 {
    background-position: 0px -420px;
}
.board--icon5 {
    background-position: 0px -480px;
}
.board--icon6 {
    background-position: 0px -540px;
}

.board--icon1:hover {
    background-position: -60px -240px;
}
.board--icon2:hover {
    background-position: -60px -300px;
}
.board--icon3:hover {
    background-position: -60px -360px;
}
.board--icon4:hover {
    background-position: -60px -420px;
}
.board--icon5:hover {
    background-position: -60px -480px;
}
.board--icon6:hover {
    background-position: -60px -540px;
}

.board-content {
    height: 300px;
}

.board-content--type1,
.board-content--type2,
.board-content--type3 {
    position: relative;
}

.board-content--type1 h4,
.board-content--type2 h4,
.board-content--type3 h4 {
    color: #2c94c4;
    font-weight: 600;
    font-size: 14px;
    margin: 10px 0px;
}

.board-content--type1 .more,
.board-content--type2 .more{
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0px;
    right: 0px;
    background: url("../../img/icon.png") no-repeat -150px -90px;
}

.board-content--type1 ul li,
.board-content--type2 ul li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 5px;
    background: url("../../img/dot.gif") no-repeat 0 8px;
    padding-left: 8px;
    font-size: 14px;    
}

.board-content--type2 ul li a {
    width: 65%;
    text-align: left;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.board-content--type2 ul li span {
    width: 30%;
    text-align: right;
    float: right;
}

.board-content--type3 ul {
    margin-top: 10px;
}

.board-content--type3 ul li {
    position: relative;
    padding : 10px 0px 10px 50px;
    margin-bottom: 20px;
}

.board-content--type3 ul li a img {
    width: 50px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #0093bd;
}

.board-content--type3 ul li h4{
    padding-left: 10px;
    font-size: 14px;
}


.board-content--type3 ul li span{
    padding-left: 10px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
}

.board-content--type3 h4 {
    margin: 0px;
}

.board-content--type4 {
    margin-top: 10px;
    position: relative;
    border: 1px solid #d0d0d0;
}

.board-content--type4 h4 {
    padding: 5px 3px;
    border-bottom: 1px solid #d0d0d0;
    color: #0093bd;
    font-weight: 600;
}

.board-content--type4 h4 span {
    color: #cf3292;
}

.board-content--type4 .more {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 14px;
}

.board-content--type4 ul {
    padding: 5px;
}

.board-content--type4 ul li{
    overflow: hidden;
    font-size: 14px;
    margin-bottom: 5px;
}

.board-content--type4 ul li a{
    float: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    width: 60%;
}
.board-content--type4 ul li span{
    float: right;
    text-align: right;
    width: 40%;
}


/* 탭메뉴 */

.board-content--type5 {
    margin-top: 5px;
    border: 1px solid #d0d0d0;
    position: relative;
    height: 120px;
}

.board-content--type5 ul {
    overflow: hidden;
}

.board-content--type5 ul li {
    float: left;
}

.board-content--type5 ul li a{
    font-size: 14px;
}

.board-content--type5 ul li ul{
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
}


.board-content--type5 ul li ul li a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
