@import "reset.css";
@import "variable.css";
@import "header.css";
@import "menu-bar.css";
@import "banner.css";
@import "board.css";

.main-container {
    margin: 0 auto;
}

.sub-container {
    margin: 0 auto;
    width: var(--main-width);
}
